<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5level %class{36}.%M(%F:%L) - %msg%n"/>
        </Console>
        <File name="AllLogs" fileName="target/all.log" append="false">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5level %class{36}.%M(%F:%L) - %msg%n"/>
        </File>
        <File name="BotLogfile" fileName="target/bot.log" append="false">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5level %class{1}.%M(%F:%L) - %msg%n"/>
        </File>
        <File name="InfoBot" fileName="target/bot.log" append="false">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5level - %msg%xEx%n"/>
        </File>
        <File name="TestLogfile" fileName="target/tests.log" append="false">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5level %class{36}.%M(%F:%L) - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="AllLogs"/>
        </Root>
        <Logger name="MathGeneratorBot" level="trace">
            <Appender-ref ref="BotLogfile" />
        </Logger>

        <Logger name="tests" level="trace" additivity="false">
            <Appender-ref ref="TestLogfile" />
        </Logger>
    </Loggers>
</Configuration>